a.alterar {
    cursor: pointer;
    &:hover {
        background-color: greenyellow;
    }
}
a {
    cursor: pointer;
    color: black;
    font-weight: bold;
    &:hover {
        background-color: yellow;
        color: red;
    }
}
button {
    cursor: pointer;
}