<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">
    <img src="http://www.inf.ufg.br/sites/default/files/marca-inf.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!logado"  class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="!logado"  class="nav-item">
          <a class="nav-link" routerLink="/registrar" routerLinkActive="active">Registrar</a>
      </li>
      <li *ngIf="logado"  class="nav-item">
        <a class="nav-link" routerLink="/cadastrar/tarefa" routerLinkActive="active">Cadastrar Tarefas</a>
      </li>      
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-inf my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>